blinker==1.8.2
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.1.8
cloudinary==1.44.2
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
idna==3.15
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==26.2
pillow==10.4.0
PyJWT==2.9.0
python-dotenv==1.0.1
requests==2.32.4
six==1.17.0
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
gunicorn==22.0.0
